<nav class="navbar">
  <div class="navbar-container">
    <div class="logo-section">
      <a href="/">
        <img src="https://www.floatui.com/logo.svg" width="120" height="50" alt="Logo" />
      </a>
    </div>
    <div class="nav-links">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Service</a></li>
      </ul>
    </div>
    <div class="actions">
      <button *ngIf="!walletAddress" (click)="connectWallet()" class="connectWalletBtn">
        Connect Wallet
      </button>
      <span *ngIf="walletAddress">Connected: {{ walletAddress | slice: 0 : 6 }}...</span>
    </div>
  </div>
</nav>
