<div class="image-grid">
  <div style="display: flex; justify-content: space-around">
    <div class="image-container">
      <img src="../../assets/Images/1.jpg" alt="Image 1 Description" />
    </div>
    <div class="image-container" style="margin: 0 30px">
      <img src="../../assets/Images/2.jpg" alt="Image 2 Description" />
    </div>
    <div class="image-container">
      <img src="../../assets/Images/3.jpg" alt="Image 3 Description" />
    </div>
  </div>

  <div style="display: flex; justify-content: space-around; margin-top: 2em">
    <div class="image-container">
      <img src="../../assets/Images/4.jpg" alt="Image 4 Description" />
    </div>
    <div class="image-container" style="margin: 0 30px">
      <img src="../../assets/Images/5.jpg" alt="Image 5 Description" />
    </div>
    <div class="image-container">
      <img src="../../assets/Images/6.jpg" alt="Image 6 Description" />
    </div>
  </div>
</div>
