<div style="width: 90vw; margin: 0 auto">
  <div style="display: flex; justify-content: space-around">
    <div style="width: 33%">
      <img style="width: 100%; border-radius: 2em" src="../../assets/Images/1.jpg" />
    </div>
    <div style="width: 33%; margin: 0 30px">
      <img style="width: 100%; border-radius: 2em" src="../../assets/Images/2.jpg" />
    </div>
    <div style="width: 33%">
      <img style="width: 100%; border-radius: 2em" src="../../assets/Images/3.jpg" />
    </div>
  </div>
  <div style="display: flex; justify-content: space-around; margin-top: 2em">
    <div style="width: 33%">
      <img style="width: 100%; border-radius: 2em" src="../../assets/Images/4.jpg" />
    </div>
    <div style="width: 33%; margin: 0 30px">
      <img style="width: 100%; border-radius: 2em" src="../../assets/Images/5.jpg" />
    </div>
    <div style="width: 33%">
      <img style="width: 100%; border-radius: 2em" src="../../assets/Images/6.jpg" />
    </div>
  </div>
</div>
