<div class="image-grid">
  <div style="display: flex; justify-content: space-around">
    <div class="image-container" (click)="open('name')">
      <img src="../../assets/Images/4.jpg" alt="start shipment" />
    </div>
    <div class="image-container" (click)="open('id')" style="margin: 0 30px">
      <img src="../../assets/Images/2.jpg" alt="get shipment" />
    </div>
    <div class="image-container" (click)="open('receiverAddress')">
      <img src="../../assets/Images/3.jpg" alt="complete shipment" />
    </div>
    <div class="image-container" (click)="open('user')" style="margin: 0 30px">
      <img src="../../assets/Images/5.jpg" alt="user profile" />
    </div>
  </div>
</div>

<ng-template #profileModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">User Profile</h4>
    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss('Cross click')"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <img src="../../assets/Images/creator9.png" class="rounded-circle mx-auto d-block" />
    <div class="d-flex justify-content-around">
      <p class="border border-secondary rounded p-2 m-2">User Balance: ${{ userBalance }}</p>
      <p class="border border-secondary rounded p-2 m-2">Total Shipments: {{ shipmentCount }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">
      Close
    </button>
  </div>
</ng-template>
<ng-template #content let-modal>
  <div class="modal-header"></div>
  <div class="modal-body">
    <form (ngSubmit)="submitShipment(modal)">
      <div class="mb-3">
        <label for="receiverAddress">Receiver Address</label>
        <input
          type="text"
          class="form-control"
          id="receiverAddress"
          placeholder="Enter Address"
          [(ngModel)]="receiverAddress"
          name="receiverAddress"
        />
      </div>
      <div class="mb-3">
        <label for="id">ID</label>
        <input
          type="text"
          class="form-control"
          id="id"
          placeholder="Enter ID"
          [(ngModel)]="shipmentId"
          name="shipmentId"
        />
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark">Save</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #contentId let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Get Shipment</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="getShipment()">
      <div class="mb-3">
        <label for="id">ID</label>
        <input
          type="text"
          class="form-control"
          id="id"
          placeholder="Enter ID"
          [(ngModel)]="shipmentId"
          name="shipmentId"
        />
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark">Save</button>
      </div>
    </form>
    <div *ngIf="shipmentData" class="mt-3">
      <h4>Shipment Details</h4>
      <p>Sender: {{ shipmentData.sender }}</p>
      <p>Sender: {{ shipmentData.sender.slice(0, 25) }}...</p>
      <p>Recevier: {{ shipmentData.receiver.slice(0, 25) }}...</p>
      <p>PickupTime: {{ shipmentData.pickupTime }}</p>
      <p>DeliveryTime: {{ shipmentData.deliveryTime }}</p>
      <p>Distance: {{ shipmentData.distance }}</p>
      <p>Price: {{ shipmentData.price }}</p>
      <p>Status: {{ shipmentData.status }}</p>
      <p>Paid: {{ shipmentData.isPaid ? 'Complete' : 'Not Complete' }}</p>
    </div>
  </div>
</ng-template>
<ng-template #contentReceiverAddress let-modal>
  <div class="modal-body">
    <form (ngSubmit)="completeShipment(modal)">
      <div class="mb-3">
        <label for="receiverAddress">Receiver Address</label>
        <input
          type="text"
          class="form-control"
          id="receiverAddress"
          placeholder="Enter Address"
          [(ngModel)]="receiverAddress"
          name="receiverAddress"
        />
      </div>
      <div class="mb-3">
        <label for="id">ID</label>
        <input
          type="text"
          class="form-control"
          id="id"
          placeholder="Enter ID"
          [(ngModel)]="shipmentId"
          name="shipmentId"
        />
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark">Complete Shipment</button>
      </div>
    </form>
  </div>
</ng-template>
